.product-card {
    border: 1px solid orange;
    border-radius: 10px;
    padding: 16px;
    width: 250px;
    text-align: center;
    margin: 10px
}

.product-image {
    width: 100%;
    height: 150px;
    object-fit: contain;
}